body{
    background-color: #777
}

.container{
    width: 960px;
    background-color: #777;
    align: center;
    margin-left: auto;
    margin-right: auto;
}

#content{
    width: 960px;
}

.header{
    align: center;
    width: 960px;
    font-family: Helvetica;
    font-size: 18px;
    background-color: #ebebeb;
    text-align: center;
    margin: 15px;
}

.nav{
    height: 50px;
    margin: 15px;
}

.element{
    width: 960px;
    height: 50px;
    font-family: Helvetica;
    font-size: 18px;
    background-color: #ebebeb;
    text-align: center;
}

.section{
    background-color: #ebebeb;
    align: left;
    height: 300px;
    width: 600px;
    text-align: center;
    font-family: Helvetica;
    position: absolute;
    margin: 15px;
}

.aside{
    background-color: #ebebeb;
    align: right;
    height: 300px;
    width: 300px;
    float: right;
    text-align: center;
    font-family: Helvetica;
    overflow: scroll;
    position: relative;
    margin: 15px;
}

.article{
    background-color: #777;
    color: white;
    width: 550px;
    height: 230px;
    text-align: center;
    font-family: Helvetica;
    position: absolute;
    z-index: 1;
    margin: 25px;
}



.box3{
    width: 510px;
    height: 50px;
    font-family: Helvetica;
    background-color: #ebebeb;
    text-align: center;
    position: relative;
    z-index: 2;
    bottom: 0px;
    margin: 20px;
}

.box4{
    width: 510px;
    height: 50px;
    font-family: Helvetica;
    background-color: #ebebeb;
    text-align: center;
    position: relative;
    z-index: 2;
    bottom: -5px;
    margin: 20px;
    overflow: scroll;
}


.footer{
    height :50px;
    margin :25px;
    position: relative;
    bottom: -350px;
    text-align: center;
    margin: 15px;
}


